__pycache__/
*.pyc
.venv/
.env
data/raw/*
data/processed/*
data/stream/*
data/predictions/*
!data/**/.gitkeep
mlruns/
mlflow_data/
*.egg-info/
mlartifacts/
artifacts/*
!artifacts/.gitkeep
.ipynb_checkpoints/
.pytest_cache/
.ruff_cache/
